.about-section {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    -webkit-backface-visibility: hidden;
    outline-style: auto;
    outline-width: 3px;
    outline-color: #fff;

    h2 {
        font-size: 50px;
        font-weight: 300;
        animation: pulse 1s;
        animation-delay: 1.1s;
    }

    h3 {
        font-size: 25px;
        color: #fff;
        font-family: sans-serif;
        font-weight: 300;
        padding-left: 22px;
    }

    li::before {content: "•"; color: #ffd700;;
        display: inline-block; width: 1em;
        margin-left: -1em
    }

    li{
        font-size: 16px;
        color: #fff;
        font-family: sans-serif;
        font-weight: 300;
        min-width: fit-content;
    }

    ul{
        padding-bottom: 10px;
        list-style: none;
    }
}


